/* Base Styles ******************************************/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: $white;
	color: $grey;
	font-family: $quicksand;
	font-size: 100%;
	@include font-weight(regular);
	@include responsive(dlarge, portrait) {
		font-size: 90%;
	}
	@include responsive(tlarge, portrait) {
		font-size: 80%;
	}
	@include responsive(tsmall, portrait) {
		font-size: 70%;
	}
}

a:link,
a:visited,
a:hover,
a:active {
	border: none;
	color: $black;
	text-decoration: none;
}

.l-floatLeft {
	float: left;
}

.l-floatRight {
	float: right;
}

.l-clear {
	clear: both;
}

/* Wrappers */

.wrapper {
	width: $width-full;
}

.maincontent-wrapper {
	text-align: center;
	width: $width-full;
}

.linkcontent-wrapper {
	background: $white;
	@include padMargin-all(mg, $top: pm(70px, 2550px));

}

/* Page Sections */

.home, .about, .projects, .skills, .contact, .search-modal {
	align-content:center;
	display: flex;
	flex-direction:column;
	justify-content:center;
	min-height: 1250px;
	@include padMargin-all(mg, 0, auto, 0, auto);
	width: $width-full;

	> div {
		@include padMargin(pd, 3em);
		text-align: center;
		@include responsive(msmall, portrait) {
			@include padMargin(pd, 2em);
		}
	}
}

.about, .projects, .skills, .contact {
	position: relative;
	z-index: 3;
}

.projects {
	min-height: 1500px;
}


.home, .about, .contact, .search-modal {
	@include responsive(dxlarge, landscape) {
		min-height: 900px;
	}
	@include responsive(dlarge, landscape) {
		min-height: 850px;
	}
	@include responsive(tsmall, landscape) {
		min-height: 550px;
	}
	@include responsive(tlarge, portrait) {
		min-height: 900px;
	}
	@include responsive(tsmall, portrait) {
		min-height: 750px;
	}
	@include responsive(msmall, portrait) {
		min-height: 600px;
		max-height: 700px;
	}		
}

.home {
	@include responsive(tsmall, landscape) {
		min-height: 450px;
	}
}

.search-modal {
	@include responsive(tsmall, portrait) {
		min-height: 1400px;
	}
	@include responsive(msmall, portrait) {
		min-height: 600px;
		max-height: 700px;
	}
}

.projects {
	@include responsive(tlarge, portrait) {
		min-height: 1150px;
	}
	@include responsive(tsmall, portrait) {
		min-height: 1200px;
	}
	@include responsive(msmall, portrait) {
		height: $width-full;
	}
}

.skills {
	@include responsive(dxlarge, landscape) {
		min-height: 1100px;
	}
	@include responsive(tsmall, landscape) {
		min-height: 1400px;
	}
	@include responsive(tsmall, portrait) {
		min-height: 1450px;
	}
	@include responsive(mlarge, portrait) {
		min-height: 1480px;
	}

}

